.card-container {
  display: flex;
  justify-content: center;
}
.apple-card-1,
.apple-card-2,
.apple-card-3,
.apple-card-4 {
  height: 42vh;
  width: 33vh;
  background-color: rgb(173, 210, 210);
  margin: 44px 22px 47px;
  border-radius: 12px;
}
.apple-card-1 img,
.apple-card-2 img,
.apple-card-3 img,
.apple-card-4 img {
  height: 35vh;
  width: 12vw;
  background: none;
  margin: 26px;
  border-radius: 12px;
}
