.card-container {
  display: flex;
  justify-content: center;
}
.apple-card,
.pubg-card,
.tiktok-card,
.freefire-card,
.subscription-card {
  height: 42vh;
  width: 33vh;
  background-color: rgb(173, 210, 210);
  margin: 44px 22px 47px;
  border-radius: 12px;
}
.apple-card img,
.pubg-card img,
.tiktok-card img,
.freefire-card img,
.subscription-card img {
  height: 25vh;
  width: 9vw;
  background: none;
  margin: 22px 0px 0px 37px;
  border-radius: 12px;
}
.banner {
  background-image: url(../Images/home.jpg);
  border-radius: 22px;
  height: 50vh;
  max-width: 95vw;
  margin-top: 20px;
  margin-left: 2.5vw;
}
h4 {
  margin: 27px 0px 0px 25px;
  color: white;
  font-weight: 800;
  border-bottom: 4px solid red;
  width: 18vw;
}
.card-container button {
  background-color: white;
  width: 11vw;
  height: 5vh;
  border-style: none;
  border-radius: 5px;
  margin: 8px 22px;
}
.card-container .view {
  background-color: transparent;
}
.card-container p {
  margin-top: 8px;
  padding-right: 52px;
  font-size: 15px;
  color: black;
}
.card-container button:hover {
  background-color: red;
  color: white;
}
