.navbar-left{
  display: flex;
  align-items: center;
  max-width: 100vw;
  max-height: 12vh;
  justify-content: center;
}
[type="text"]{
  background-color: white;
  border-radius: 9px;
  width: 25vw;
  height: 4vh;
  margin-left: 150px;
}
[type="submit"]{
  background-color: rgb(46, 218, 46);
  width: 3vw;
  height: 5vh;
  border-radius: 6px;
  margin:0px 150px 0px 2px;
}
.logo-section{
  height: 12vh;
  width: 12vh;
  justify-content: start;
}
.cart-img,.wallet-img,.user-img{
  height: 35px;
  width: 35px;
  padding-left: 12px;
  float: right;
  margin-left: 17px;
}
a{
  text-decoration: none;
  color: white;
}
.logo-text{
  padding-right: 43px;
}
ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content:center;
}
li{
  padding-left: 25px;
}
li:hover{
  color: greenyellow;
}