.navbar-left{
  display: flex;
  align-items: center;
  max-width: 100vw;
  max-height: 12vh;
  justify-content: center;
}

[type="text"]{
  outline:none;
  background-color: white;
  border: none;
  padding: 6px;
  width: 25vw;
  height: 6vh;
  margin-left: 150px;
}
[type="submit"]{
  background-color: rgb(46, 218, 46);
  padding:9px;
  border:none;
  margin:0px 150px 0px 2px;
}
.logo-section{
  height: 12vh;
  width: 12vh;
  justify-content: start;
}
.cart-img,.wallet-img,.user-img{
  height: 30px;
  width: 43px;
  padding-left: 12px;
  float: right;
  margin-left: 17px;
}
a{
  text-decoration: none;
  color: white;
}
.logo-text{
  padding-right: 43px;
}
ul{
  display: flex;
  text-decoration: none;
  list-style: none;
  justify-content:center;
}
li{
  padding-left: 25px;
}

.navbar-left h5{
  color: white;
}
.signin:hover{
  color: greenyellow;
}
.hov:hover{
  color: yellowgreen;
}
.nav-list-container{
  padding-bottom: 16px;
}